@import "tailwindcss";

@theme inline {
  --color-background: #0C0A09;
  --color-foreground: #FAFAF9;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-literata);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
